import 'dart:math';

void main() {
  List<int> numeros = List.generate(10, (_) => Random().nextInt(100));
  print('Olá, eu me chamo Bruno! tudo bem? eu vou te mostrar um vetor com 10 números aleatórios e depois vou remover o quinto número da ordem! Aqui está o vetor original: $numeros');
  
  numeros.removeAt(5);
  print('Agora, o vetor modificado: $numeros');
}
